@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%; 
    height: auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.8);
    padding: 40px;
    box-shadow: 0px 0px 50px rgba(114, 34, 106, 0.745);
    border: 2px solid #686868;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s ease-in;
    color: white;
}

#formContainer {
    text-align: center; /* center align text */
}


.logo {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.back-btn {
    width: 60px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    transition: all 0.3s ease-out, display 0s;
}


#countdown {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #686868;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out;
}
.hidden {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd; /* add border */
    margin-bottom: 20px; /* add some margin */
}

input[type="text"]:focus {
    border-color: #8326da; /* change border color on focus */
}

h1 {
    font-size: 2.5em; /* make the title larger */
    font-weight: bold; /* make the title bolder */
    color: #fff; /* change the title color */
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #5d0c9b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8326da;
}

#result {
    font-size: 24px;
    transition: opacity 1s ease-in-out;
}



@media (min-width: 480px) {
    #countdown {
        padding: 15px 0;
        font-size: 16px;
    }
    input[type="text"], button {
        padding: 15px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    #countdown {
        padding: 20px 0;
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    #countdown {
        padding: 20px 0;
        font-size: 18px;
    }
    input[type="text"], button {
        padding: 15px;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    #countdown {
        padding: 25px 0;
        font-size: 20px;
    }
    input[type="text"], button {
        padding: 20px;
        font-size: 22px;
    }
}

@media (min-width: 600px) {
    .container {
        width: 70%;
    }
    .logo {
        top: -80px;
        width: 120px;
    }
    .back-btn {
        width: 50px;
    }
    .countdown {
        font-size: 2em;
    }
}

@media (min-width: 900px) {
    .container {
        width: 50%;
    }
    .logo {
        top: -90px;
        width: 150px;
    }
    .back-btn {
        width: 60px;
    }
    .countdown {
        font-size: 2.5em;
    }
}